<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <form [formGroup]="skillForm" (submit)="didSave($event)">
            <div
                class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                <div
                    class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                    <h5 class="text-xl font-medium leading-normal text-gray-800" id="addSkillModalLabel">Add Skill
                    </h5>
                    <button type="button"
                        class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body relative p-4">

                    <div class="grid grid-cols-1 gap-6">
                        <div class="col-span-12">
                            <label for="name" class="block text-sm font-medium text-gray-700">Skill Name *</label>
                            <input formControlName="name" type="text" name="name" id="name"
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                [ngClass]="{ 'border-red-500': !skillForm.get('name')?.valid && skillForm.get('name')?.touched }">
                        </div>
                        <div class="col-span-12">
                            <label for="rating" class="block text-sm font-medium text-gray-700">Skill Rating (1
                                - lowest, 10 - highest) *</label>
                            <input formControlName="rating" type="number" name="rating" id="rating" min="0" max="10"
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                [ngClass]="{ 'border-red-500': !skillForm.get('rating')?.valid && skillForm.get('rating')?.touched }">
                        </div>
                    </div>

                </div>
                <div
                    class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                    <button #closeSkillButton type="button" class="px-6
                        py-2.5
                        bg-purple-600
                        text-white
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        rounded
                        shadow-md
                        hover:bg-purple-700 hover:shadow-lg
                        focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0
                        active:bg-purple-800 active:shadow-lg
                        transition
                        duration-150
                        ease-in-out" 
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="submit" class="px-6
                        py-2.5
                        bg-blue-600
                        text-white
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        rounded
                        shadow-md
                        hover:bg-blue-700 hover:shadow-lg
                        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                        active:bg-blue-800 active:shadow-lg
                        transition
                        duration-150
                        ease-in-out
                        ml-1"
                    >
                        <div *ngIf="isSaving" class="spinner-border animate-spin inline-block w-4 h-4 border-1 rounded-full mr-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <ng-container *ngIf="!isSaving">Save Skill</ng-container>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>