<div class="flex items-baseline justify-between border-b border-gray-200 pt-24 pb-6">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <div class="flex items-center">
        <div class="relative inline-block text-left">
            <div>
                <button type="button"
                    class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                    id="menu-button" aria-expanded="false" aria-haspopup="true"
                    (click)="didGoToEditMyProfilePage()">
                    <!-- Heroicon name: mini/pencil-square -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>                                  
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    
</div>